body {
  background-color: black;
}

h1 {
  color: white;
  font-family: sans-serif;
  text-align: center;
}

/*.row {
  padding: 40px;
  margin: 100px;*/
  /*text-align: center;*/
  /*margin: auto;*/
/*}*/
#board {
  text-align: center;
}

.game-info {
  color: yellow;
  font-family: sans-serif;;
  font-size: 16px;
}
.tile {
	opacity: 0.6;
	-webkit-transition: opacity 250ms ease;
	-moz-transition: opacity 250ms ease;
	-ms-transition: opacity 250ms ease;
	-o-transition: opacity 250ms ease;
	transition: opacity 250ms ease;
}

.tile.lit {
  opacity: 1;
}



#red {
  border: 1px solid #D52929;
  height: 200px;
  width: 200px;
  display: inline-block;
  /*margin: auto;*/
  background-color: #D52929;
  border-radius: 80px 0px 0px 0px;
  /*margin-left: 490px;*/
}

#yellow {
  border: 1px solid yellow;
  height: 200px;
  width: 200px;
  display: inline-block;
  /*margin: auto;*/
  background-color: yellow;
  border-radius: 0px 80px 0px 0px;

}

#green {
  border: 1px solid green;
  height: 200px;
  width: 200px;
  display: inline-block;
  /*margin: auto;*/
  background-color: green;
  border-radius: 0px 0px 0px 80px;

  /*margin-left: 68px;*/

}

#blue {
  border: 1px solid blue;
  height: 200px;
  width: 200px;
  /*margin: auto;*/
  display: inline-block;
  background-color: blue;
  border-radius: 0px 0px 80px 0px;
}

#button-start {
  background-color: white;
  color: red;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  font-family: monospace;
  margin: 15px;
}
