body {
  background-color: black;
}

h1 {
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#board {
  text-align: center;
}

.game-info {
  color: #6666FF;
  font-family: sans-serif;
  font-size: 16px;
}

.tile {
	opacity: 0.6;
}

.tile.lit {
  opacity: 1;
}

#red {
  border: 3px solid white;
  height: 200px;
  width: 200px;
  display: inline-block;
  background-color: #D52929;
  border-radius: 80px 0px 0px 0px;

}

#yellow {
  border: 3px solid white;
  height: 200px;
  width: 200px;
  display: inline-block;
  background-color: yellow;
  border-radius: 0px 80px 0px 0px;

}

#green {
  border: 3px solid white;
  height: 200px;
  width: 200px;
  display: inline-block;
  background-color: green;
  border-radius: 0px 0px 0px 80px;
}

#blue {
  border: 3px solid white;
  height: 200px;
  width: 200px;
  display: inline-block;
  background-color: blue;
  border-radius: 0px 0px 80px 0px;
}

#button-start {
  background-color: white;
  color: red;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  font-family: monospace;
  margin: 15px;
  border: blue;
}
